<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Parki w mieście: ' + ${selectedCity}">Parki w mieście</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <style th:inline="text">
    body {
        height: 100vh;
        margin: 0;
        padding: 0;
        background-image: url([[${@environment.getProperty('server.servlet.context-path')}]]/part.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: Arial, sans-serif;
        color: #001F4D;
    }

    </style>
</head>
<body>
<div class="header" th:text="${'W miejscowości ' + selectedCity + ' znajdują się następujące parki:'}"
>
    Parki rozrywki w mieście
</div>
th:text="${'Znaleziono ' + parkCount + ' ' + (parkCount == 1 ? 'park' : (parkCount < 5 && parkCount > 1 ? 'parki' : 'parków'))}"


<ul class="park-list">
    <li th:each="park : ${parks}">
        <a th:href="@{'/themePark/parks/' + ${park.name}}"
           th:text="${park.name}">Nazwa Parku</a>
    </li>
</ul>

<div class="button-row-fixed">
    <a href="javascript:history.back()" class="back-button">⬅️ Wróć</a>
    <a href="/themePark/main" class="back-button">🏠 Strona główna</a>
</div>

</body>
</html>
