<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista parków</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <style th:inline="text">
    body {
        height: 100vh;
        margin: 0;
        padding: 0;
        background-image: url([[${@environment.getProperty('server.servlet.context-path')}]]/part.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        font-family: Arial, sans-serif;
        color: #001F4D;
    }


    </style>
</head>
<body>
<div class="header"> Najsłynniejsze parki rozrywki:</div>

<ul class="park-list">
    <li th:each="park : ${parks}">
        <a th:href="@{'/parks/' + ${park.name}}"
           th:text="${park.name + ', ' + park.city.name}">Park, Miasto</a>
    </li>
</ul>

<div class="button-row-fixed">
    <a href="javascript:history.back()" class="back-button">⬅️ Wróć</a>
    <a href="/themePark/main" class="back-button">🏠 Strona główna</a>
</div>

</body>
</html>
